* {
  padding: 0;
  margin: 0;
}

body{
  background: #EBEEF2;
}

.body {
  background-color: #EBEEF2;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size:  14px;
  line-height: 157%;
  color: #21272A;
  padding:  24px 0;
  width: 100%;
}

.main{
  background-color:  #FFFFFF;
  max-width:  600px;
  margin:  0 auto;
}

#header{
  background: #0B70E5;
  padding:  24px 30px;
}

#header img{
  height: 32px;
  width: auto;
  vertical-align: middle;
}

.body #header .title {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.body p {
  margin-bottom: 16px;
}

.body a{
  color: #2F6BFF;
  text-decoration: none;
}

.body i{
  color:  #697077;
}

.body img{
  height: auto;
}

.body .content {
  font-size: 14px;
  padding:  24px 0 24px;
  margin: 0 30px;
}

.body .content .button {
  display: inline-block;
  font-weight:  600;
  font-size: 16px;
  line-height: 150%;
  color: #2F6BFF;
  background-color: rgba(78, 129, 255, 0.12);
  text-align: center;
  padding: 10px 12px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 4px;
}

.body .content .title,
.body .content h3{
  font-weight:  700;
  font-size:  16px;
  line-height:  150%;
  margin-bottom: 16px;
}

.body ul {
  margin-left: 24px;
  padding-top: 1px;
}

.mailer-ads,
.mailer-footer {
  color:  #697077;
  margin: 0 30px;
  font-size:  12px;
  line-height: 150%;
}

.mailer-ads{
  border-top: 1px solid #E7E7E7;
  padding:  24px 0 24px;
}

.socials{
  margin-bottom: 15px;
}

.socials a{
  text-decoration: none;
  margin: 0 4px;
}

.socials img{
  vertical-align: middle;
  width: 24px;
  height:  24px;
}

.mobile-app .photos {
  text-align: center;
}

.mobile-app .photos a {
  margin: 0 5px 5px;
  display: inline-block;
  text-decoration: none;
}

.mobile-app .photos img {
  height: 40px;
  width: auto;
  vertical-align: middle;
}

.mobile-app .title {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.mobile-app .subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.copyright{
  margin-bottom:  17px;
}

.affiliate .title {
  margin: 30px 0 10px 0;
  text-align: center;
  font-size: 18px;
}

.affiliate .link {
  background: #4d74b1;
  padding: 10px 0;
  text-align: center;
}

.affiliate .link a {
  color: #fffacd;
  font-size: 18px;
}

.mailer-footer {
  text-align: center;
  padding:  24px 0 27px;
}

.bold {
  font-weight: bold;
}

.body .desc {
  color: #8899a6;
  font-size: 13px;
}

h2 {
  line-height: 110%;
  padding-top: 8px;
}

.coins {
  margin: 0;
}

.coins .coin {
  margin-bottom: 12px;
  display: flex;
}

.coin-image {
  width: 24px;
  height: 24px;
  margin-top: 12px;
}

.coin-info {
  margin-left: 6px;
}

.coin-info .name {
  font-weight: 600;
}
.coin-info .price {
  font-weight: normal;
}

.coin a {
  margin-left: auto;
}

.trade-btn {
  padding: 8px 12px;
  border: 1px solid #27af2c;
  background: #27af2c;
  color: #fff;
}

.reason {
  padding-left: 8px;
  padding-right: 8px;
}

.unsubscription {
  font-size: 10px;
  font-style: italic;
  padding: 0 8px;
}

.verified-status{
  text-align: center;
  padding: 12px 0 34px;
}

.verified-status .item{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-bottom:  20px;
}

.verified-status .item.confirm{
  color: #5A92FF;
}

.verified-status .item div{
  display:  inline-block;
}

.verified-status .item span{
  padding: 8px 0 4px;
  display: block;
}

.verified-status .item img.step{
  width: 80px;
}

.verified-status .item img.status{
  width: 16px;
  height: 16px;
}

.verified-status .item img.arrow{
  vertical-align: top;
  margin: 20px 0;
  width: 60px;
}

@media only screen and (max-width: 510px) {
  .body .content,
  .body .mailer-ads,
  .body .mailer-footer{
    margin: 0 16px !important;
  }

  .verified-status .item div{
    max-width: 65px;
    font-size: 13px;
  }

  .verified-status .item img.step{
    max-width:  60px;
  }

  .verified-status .item img.arrow{
    max-width: 25px;
  }
}