!!!
%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ 'name' => 'viewport', content: 'width=device-width, initial-scale=1' }
  %body
    .body
      = render 'layouts/mailer_header'
      .content
        = yield
      .mailer-ads
        = render 'layouts/mailer_ads'
      .mailer-footer
        = render 'layouts/mailer_footer'
